@model IEnumerable<CustomAth.Models.Ticket>

@{
    ViewData["Title"] = "Tickets";
}

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th colspan="2">

        Action
        </th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Ventes" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
            <td>

                <form asp-controller="Ventes" asp-action="Delete" method="post" style="display:inline;">
                    <input type="hidden" name="Id" value="@item.Id" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>           
                </td>
        </tr>
    }
    </tbody>
</table>
